<div class="container">
  <div class="jumbotron mt-5">
    <div class="row">
      <div class="col-sm-6">
        <app-progress></app-progress>
      </div>
      <div class="com-sm-6">
        <app-attempts></app-attempts>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4>Traduza a frase abaixo:</h4>
        <p>How're U?</p>
        <div class="form-group">
          <label for="answer">Digite aqui sua resposta:</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <button type="button" class="btn btn-primary mr-3">Verificar</button>
    </div>
  </div>
</div>
