<div class="container">
  <div class="jumbotron mt-5">
    <div class="row">
      <div class="col-sm-6">
        <app-progress></app-progress>
      </div>
      <div class="col-sm-6 d-flex flex-row-reverse">
        <app-attempts></app-attempts>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-form [sentence]="phrase[0].englishPhrase"></app-form>
      </div>
    </div>
    <div class="row d-flex justify-content-end">
      <button type="button" class="btn btn-primary mr-3">Check</button>
    </div>
  </div>
</div>
